body {
  font-family: Arial;
}

.card {
  width: 625px;
}

.poll__title {
  margin-bottom: 20px;
}

button {
  font-family: Golos, Arial, sans-serif;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 2px;
  margin: 0 5px 20px 0;
}